body{
    color: #292C35;
}
body.dark {
	background: #292C35;
    color: #fff;
}
body.dark .card{
    background-color: #292C35;
    
}
body.dark .user-li {
    background-color: #292C35;
    color: #fff;
}
body.dark .modal-content {
    color: #fff;
    background-color: #292C35;
}
body.dark #footer{
    color: #111;
}
body.dark .profile ul::before{
    background-color: #292C35;
    
}
body.dark .label {
	background-color: #fff;
	border-radius: 50px;
	cursor: pointer;
 top: 3px;
  right: 10px;
	align-items: center;

	padding: 5px;
	position: relative;
	height: 20px;
	width: 30px;
	transform: scale(1.5);
}

body.dark .label .ball {
	background-color: #111;
	border-radius: 50%;
	position: absolute;
	top: 5px;
	right: 5px;
	height: 10px;
	width: 10px;
	transform: translateX(10px);
	transition: transform 0.2s  linear;
}

body.dark .checkbox:checked + .label .ball  {
	
 
transform: translateX(10px);
  
}


