







.checkbox {
	opacity: 0;
	position: absolute;
 
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
 top: 3px;
  left: 10px;
	align-items: center;

	padding: 5px;
	position: relative;
	height: 20px;
	width: 30px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 5px;
	left: 5px;
	height: 10px;
	width: 10px;
	transform: translateX(-5px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball  {
	transform: translateX(-2px);
  

  
}










.profile {
  position: relative;
  text-align: center;

}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  cursor: pointer
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 16px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: all 2s
}


.dropdown-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block
}

.dropdown-content a:hover {
  background-color: #e79115
}

.dropdown:hover .dropdown-content {
  display: block
}

.profile ul {
  background-color: #fff;
  width: 200px;
  height:auto;
  border-radius: 10px;
 
  top: 7px;
  position: absolute;
  padding: 8px;
  transition: all 0.5s;
  z-index: 1;
  opacity: 0.8;
}

.profile ul::before {
  content: '';
  position: absolute;
  background-color: #fff;
  height: 10px;
  width: 10px;
right: 10px;;
  top: -5px;
  transform: rotate(45deg);
  opacity: 0.8;
}

.profile ul li {
  list-style: none;
  text-align: left;
  font-size: 25px;

  display: flex;
  align-items: center;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 4px;
 
}

.profile ul li:hover {
  background-color: #e79115
}

.profile ul li i {
  margin-right: 7px
}

@media screen and (max-width: 420px){
  .profile ul{
    left: -120px;

  }
  .profile ul::before{
right: 30px;
  }
  .username{
    display: none;
  }
}
.username{
  color: #e79115;
  
}